
html {font-family: 'VT323', monospace;}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: bolder;
    font-size: 50px;
}

.container {display: flex;}
.content {display: flex;
flex-direction: column;
margin-top: 25px;
}

label {
    margin: 5px;
}

button {
    margin: 5px;
    height: 20px;
    width: 70px;
}
#etchContainer {
    margin: 25px 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16,1fr);
    width: 600px; height: 500px;
    border: 5px solid black;
}

.color {
    background-color: gray;
    border: 1px solid black;
}
.square 
{background-color: white;
border: 1px solid black;}

